.book-history-item {
  height: fit-content;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1); 
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  align-items: center;
  justify-content: space-evenly;
  padding: 8px;
}

.book-history-item-group {
  width: 49%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.red {
  color: red;
}

.green {
  color: green;
}
