.additional-book-info {
  width: 100%;
  height: 256px;
  margin-top: 16px;
  padding: 16px;
  border-radius: 12px;
  background-color: var(--background-secondary);
  box-shadow: var(--box-shadow);
}

.additional-book-info-container {
  width: 100%;
  height: 80%;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.additional-book-info-group {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.additional-book-info-text {
  text-align: center;
}
