.library-hours {
  padding: 16px;
  width: 100%;
  height: fit-content;
  background-color: var(--background-secondary);
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}

.library-hours-table {
  border-collapse: collapse;
  width: 100%;
}

#hours tr {
  border: 1px solid rgba(122, 121, 120, 0.2);
  padding: 8px;
}

#hours tr:nth-child(even) {
  background-collor: #ebe9f6;
}

#hours tr:nth-child(odd) {
  background-collor: #e7f7f1;
}

#hours td {
  font-size: 1.25rem;
}
