.contact-us {
  width: 100%;
  padding: 16px;
  height: fit-content;
  background-color: var(--background-secondary);
  box-shadow: var(--box-shadow);
  border-radius: 12px;
  margin-top: 16px;
}

.contact-us-divider {
  width: 100%;
  header: 1px;
  background-color: tgba(122, 121, 120, 0.2);
  margin-top: 16px;
  margin-bottom: 16px;
}
