.catalog-advanced-search {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: var(--background-secondary);
  box-shadow: var(--box-shadow);
  padding: 16px;
}

.catalog-advanced-search-form {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 16px;
}

.catalog-advanced-form-input-group {
  width: 15%;
}

.catalog-advanced-form-input {
  width: 100%;
  height: 2rem;
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  padding-top: 2px;
  padding-left: 8px;
  border: 2px solid var(--primary);
  border-radius: 15px;
}

.catalog-advanced-search-input:focus {
  outline: none;
}

.catalog-advanced-search-input::placeholder {
  color: var(--text-secondary);
  font-size: 0.8rem;
  font-weight: 400;
}

.catalog-advanced-search-button {
  width: 25%;
  height: 2rem;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--secondary);
}

.catalog-advanced-search-button:hover {
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
}
